
    <h1 class="container">Your Packing List</h1>
      <%= @packlist.where %>
      <%= @packlist.how_long %>
      <%= @packlist.weather %>
      <%= @packlist.activities %>
   
      <ul>
        <% @items.each do |item| %>
	     <li>
	      <%= item.article %>:
	      <%= item.quantity %>
	      </li>
	    <% end %>
      </ul>

  <button type="button" class="btn btn-default"><%= link_to 'Edit List', edit_packlist_path(@packlist) %></button>
  

    <%= simple_form_for @packlist, url: packlist_send_list_path(packlist_id: @packlist.id), method: :post do |f| %>
    <%= f.input :email %>
    <%= f.button :submit, "Send me my list!" %>

  <% end %>
